/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0; /* Pour supprimer les marges par défaut du corps */
    overflow-y: auto; /* Activer le défilement vertical lorsque nécessaire */
}
/* Ajoutez ces styles CSS pour la barre de navigation */
header {
    background-color: white; /* Couleur de fond */
    color: orange; /* Couleur du texte */
    padding: 20px 0; /* Espacement intérieur */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajoutez un padding sur les côtés */

}

h1 {
    font-size: 24px; /* Taille de la police */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: orange;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

nav ul li a:visited {
    text-decoration: none;
    color: orange; /* Couleur des liens visités */
}

.container a:link,
.container a:visited {
    text-decoration: none;
    color: orange;
}

.container a:hover,
.container a:focus {
    color: #ffd700;
}

.icon-container .connect-link:link,
.icon-container .connect-link:visited {
    color: green;
}

.icon-container .connect-link:hover,
.icon-container .connect-link:focus {
    color: rgb(39, 231, 39);
}


.icon-container {
    display: flex;
    gap: 15px;
}

.cart-link {
    color: orange;
    text-decoration: none; /* Supprimer le soulignement du lien */
    font-size: 20px; /* Ajuster la taille de l'icône */
}

.connect-link {
    color: green;
    text-decoration: none; /* Supprimer le soulignement du lien */
    font-size: 20px; /* Ajuster la taille de l'icône */
}



.cart-link:hover, .connect-link:hover {
    color: #ffd700;
}


.container-block {
    background: linear-gradient(to bottom right, #ff7f00, #eebb23); /* Dégradé orange */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.block-text {
    background-image: url(Bandeau\ Fil\ rouge.jpg);
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
    color: white;
    height: 290px;
    background-size: cover;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons .button {
    cursor: pointer;
    padding: 20px 40px;
    margin-right: 10px;
    font-size: 30px;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour les boutons */
    border: 2px solid white;

}


.buttons .button:hover {
    background-color: #0056b3;
}

/* Modifier le CSS du formulaire */
/* CSS amélioré pour le formulaire */

/* Ajouter une ombre douce au conteneur du formulaire */
.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* Ajouter une transition douce */
}

.particulier-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Au survol, augmenter légèrement l'ombre pour créer un effet de profondeur */
.form-container:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* Ajouter une transition fluide pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

/* Lorsque le champ de saisie est en focus, changer la couleur de fond */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-color: #e0e0e0;
}

/* Styling pour le bouton de validation */
.button-container input[type="submit"] {
    margin-top: 30px;
    padding: 30px 80px;
    background: linear-gradient(to bottom right, #ff7f00, #eebb23);    
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
    border: 2px solid white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ajout de l'ombre */
}

/* Au survol, assombrir légèrement la couleur du bouton */
.button-container input[type="submit"]:hover {
    background-color: #3d8a5e;
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 48%; /* Réduire la largeur du formulaire pour les grands écrans */
    }
}




input[type="submit"] {
    margin-top: 20px;
    padding: 20px 40px; /* Espace intérieur des boutons */
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour le bouton Connexion */
    color: #fff; /* Couleur du texte blanc */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s ease; /* Transition fluide pour la couleur de fond */
}



footer {
    display: flex;
    bottom: 0; /* Fixer le footer au bas de la fenêtre */
    width: 100%; /* Pour étendre le footer sur toute la largeur */
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-left nav ul{
    display: flex;
    flex-direction: column;
}

.footer-left nav ul li {
    text-align: left;
}


.footer-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .button{
    padding: 10px 15px; /* Ajuster la taille des boutons */
    font-size: 14px;
    border: 2px solid white;
    border-radius: 10px;
}

.send{
    background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
    color: white;
}
@media screen and (max-width: 768px) {
    .image-block img {
        width: 100%;
        height: 90px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .overlay-text{
        font-size: 18px;
    }

}

@media screen and (max-width: 540px) {

    .container-block{
        min-height: 1800px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    h2{
        text-align: center;
        margin-top: 20px;
    }
    
    .container{
        flex-direction: column;
        align-items: center;
    }

    .image-block img {
        width: 100%;
        height: 200px;
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }

    .buttons {
        text-align: center;
    }

    .buttons .button {
        margin-bottom: 20px;
    }

    .overlay-text{
        font-size: 14px;
    }

}

@media screen and (max-width: 462px) {


    .image-block img {
        width: 100%;
        height: 200px; /* Hauteur fixe pour les images */
        object-fit: cover; /* Redimensionne les images pour qu'elles couvrent le conteneur tout en conservant leur ratio */
        border-radius: 5px;
    }

    .overlay-text{
        font-size: 20px;
    }


}

@media screen and (max-width: 433px) {
    
    .block-text h1{
        font-size: 35px;
    }


    .buttons-responsive .connexion {
        background-image: linear-gradient(to right, #007bff, #0056b3); /* Dégradé bleu pour le bouton Connexion */
    }
    
    .buttons-responsive .create {
        background-image: linear-gradient(to right, #28a745, #218838); /* Dégradé vert pour le bouton Créer un compte */
    }
    
    .buttons-responsive .config {
        background-image: linear-gradient(to right, #e83c69, #f56dcc); /* Dégradé rose foncé pour le bouton Config */
    }
    

}

